/*copy pasted this code as per instructions of tutorial i am following, will change later*/

/*credit to  https://github.com/iamshaunjp */

body{
    font-family: 'Nunito';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#userDashboard{
    float:right;
    width:40%;
}

#funChat{
    float:left;
    width:60%;
}

#availableItems{
    clear:both;
    width:60%;
}

#chat-window{
    height: 300px;
    overflow: auto;
    background: #f9f9f9;
}



.bidInfo{
    float:right;
    margin-right: 5%;
    text-align: center;
    margin-top: 10%;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    width:50%;
    float:right;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
    width:50%;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
    width:50%;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 12px;
    border: 0;
    padding: 8px 0;
    width: 10%;
    border-radius: 10%;
}
