html,body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#header{
    background-color: #00b8ff;
    font-family: Arial;
    text-align: center;
    padding:0;
}

#header h1{
    padding:15px;
    font-size: 32px;
    font-weight: 800;
}

#userDashboard{
/*    float:right;
    width:40%;*/
    text-align: center;
}

#funChat{
/*    float:left;
    width:60%;*/
}

#userButtons{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-right:100px;
}

.userButton{
    min-width: 60% !important;
    max-width:80% !important;
    max-height: 150px;
    min-height:100px;
    margin: 0 auto !important;
}

.userButtonClick{
    width:100% !important;
    height:100%;
}

.fullUserGrid{
position: absolute;
text-align: center;
margin-top: 50px !important;
}

#userButtons::before, #userButtons::after {
  content: '';
  width: 100%;
  order: 1;
}

.userButton:nth-child(n + 4) {
  order: 1;
}

#availableItems{
/*    clear:both;
    width:60%;*/
    text-align: center;
}

#chat-window{
    height: 300px;
    overflow: auto;
    background: #f9f9f9;
}

.bidInfo{
/*    float:right;
    margin-right: 5%;*/
    text-align: center;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    width:50%;
    float:right;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
    width:50%;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
    width:50%;
}

/*button{
    background-color: #FF4136;
    font-size: 10px;
    padding: 3px 0;
    width: 16%;
}*/

.availableItem{
    font-size: 18px;
}

ul, li{
    list-style: none;
}

#pickUser{
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background-color: #778899;
}

#pickUser h1{
    display: block;
    text-align: center;
}

.itemForAuction{
    color:#264027 !important;
    font-weight: 800 !important;
    font-size: 24px !important;
}

.availableItems{
    height:40vh;
    overflow-y: auto;
}

.itemImage{
    max-width: 100px;
    max-height: 100px;
}
