@import url('https://fonts.googleapis.com/css?family=Lobster|Staatliches');

@font-face{
    font-family: 'Staatliches', cursive !important;
    src: url('https://fonts.googleapis.com/css?family=Staatliches');
}

@font-face{
    font-family: 'Lobster', cursive;
    src: url('https://fonts.googleapis.com/css?family=Lobster');
}

html,body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.MuiGrid-grid-xs-3-32{
    background-color: #BDD4E7 !important;
}

#header{
    background-color: #5BC0EB;
    text-align: center;
    padding:0;
    color: #07070A;
}

.MuiGrid-grid-xs-12-41{
    background-color: #5BC0EB;
}

#live{
    letter-spacing: 3px !important;
    font-family: 'Staatliches', cursive !important;
}

#auction{
    font-family: 'Lobster', cursive !important;
}

#header h1{
    padding:15px;
    font-size: 32px;
    font-weight: 800;
}

#countdown{
    margin-top: 10%;
}

#userDashboard{
    text-align: center;
    background-color: #BDD4E7;
    height:100%;
}

#bidDashboard{
text-align: center;
}

#userButtons{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-right:100px;
}

.userButton{
    min-width: 60% !important;
    max-width:80% !important;
    max-height: 150px;
    min-height:100px;
    margin: 0 auto !important;
}

.userButtonClick{
    width:100% !important;
    height:100%;
}

.fullUserGrid{
position: absolute;
text-align: center;
margin-top: 50px !important;
}

#userButtons::before, #userButtons::after {
  content: '';
  width: 100%;
  order: 1;
}

.userButton:nth-child(n + 4) {
  order: 1;
}

#availableItems{
/*    clear:both;
    width:60%;*/
    text-align: center;
    background-color: #C4D6B0;
}

.availableItems{
    margin-top: 30px;
    background-color: #F0F7EE ;
}

#chat-window{
    overflow: auto;
    background: #F0F7EE;

}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.bidInfo{
    text-align: center;
}

#chat-window{
    height: 100%;
}

#output{
    width:45%;
    height: 100%;
    overflow-y: scroll;
    float:right;
}

.countdownAndOutput{
    height:100px;
}

#countdown{
    width:45%;
    float:left;
}

#bidDashoard{
    height:100%;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    /*display: inline-block;*/
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

/*button{
    background-color: #FF4136;
    font-size: 10px;
    padding: 3px 0;
    width: 16%;
}*/

.availableItem{
    font-size: 18px;
}

ul, li{
    list-style: none;
}

#pickUser{
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background-color: #F0F7EE;
}

hr{
    color:black;
}

#pickUser h1{
    display: block;
    text-align: center;
}

.itemForAuction{
    color:#264027 !important;
    font-weight: 800 !important;
    font-size: 24px !important;
}

.availableItems{
    height:40vh;
    overflow-y: auto;
}

.itemImage{
    max-width: 200px;
    max-height: 200px;
}

.auctionHistory{
    text-align: center;
    background-color: #BDD4E7;
}

.itemForBidName{
    font-size: 24px;
    font-weight: 800;
}

.bold{
    font-weight: 800;
}

.scrollList{
    height: 80vh;
    overflow-y: auto;
}

.sectionHeader{
    font-size: 18px;
    font-weight:600;
}

button{
    background-color: #C4D6B0 !important;
    color: #211A1E !important;
}
